[submodule "vendor/CMSIS"]
	path = vendor/CMSIS
	url = https://github.com/ARM-software/CMSIS_5
[submodule "vendor/STM32F1"]
	path = vendor/STM32F1
	url = https://github.com/STMicroelectronics/cmsis_device_f1.git
